extends layout
block content

  container
  .col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
    h3 Listado de proyectos
    #bs-collapse.panel-group.wrap
      .panel
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', data-parent='#', href='#one')
              | Proyectos
        #one.panel-collapse.collapse.in
          .panel-body
            table#proyecto-table(class="table table-striped")
              tbody
                for proyecto in proyectos
                  tr
                    td: a(href="/proyectos/show/#{proyecto.id}") #{proyecto.docId}

            
