
extends layout
block content
  .span6
    .span12
      h4 Buscador de proyectos
      a(href="/proyectos" class="btn btn-warning") Muestrame todos los proyectos
      hr
  .span6
    .span12
      h4 About this App
      p Bienvenido a Couchbase!
      p
        | This application helps you to get started on application
        | development with Couchbase. It shows how to create, update and
| delete documents and how to work with JSON documents.